<a href="https://colab.research.google.com/github/Damizen2/customer-sales-project/blob/main/Customer_Sales_Project_agorooo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Customer Sales Project

This project involves working with a dataset of customer sales data. There are two versions, one yearly and the other quarterly. See the GroupBy and Preparing Customer Sales Data for the background on their creation.

You are welcome to add cells as needed.

In [2]:
import numpy as np
import pandas as pd
import altair as alt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Read in yearly customer data 
yearly = pd.read_csv('/content/drive/My Drive/HDS/Datasets/Customer Sales/by_year.csv', parse_dates=[1])
yearly.head()

,CUSTOMER_ID,YEAR,REVENUE,PROFIT,CUSTOMER_TYPE,IS_TREATMENT_FLAG,STATUS,REVENUE_DIFF,CHURN
0,0,2015-01-01,416.405467,142.590246,Education,NaN,CONT,0.000000,True
1,1,2015-01-01,526.048539,172.698085,Education,NaN,CONT,0.000000,False
2,1,2016-01-01,656.589445,287.046340,Education,NaN,UPSELL,130.540906,False
3,1,2017-01-01,912.123458,336.865870,Education,NaN,UPSELL,255.534013,False
4,1,2018-01-01,966.242283,519.661930,Education,NaN,UPSELL,54.118825,False

In [5]:
# Read in quarterly customer data 
quarterly = pd.read_csv('/content/drive/My Drive/HDS/Datasets/Customer Sales/by_quarter.csv', parse_dates=[1])
quarterly.head()

,CUSTOMER_ID,TRANSACTION_PERIOD,REVENUE,CUSTOMER_TYPE,PROFIT,IS_TREATMENT_FLAG,STATUS,REVENUE_DIFF,CHURN
0,0,2015-03-31,139.460266,Education,46.154152,NaN,CONT,0.000000,False
1,0,2015-06-30,136.065304,Education,56.085945,NaN,DOWNSELL,-3.394962,False
2,0,2015-09-30,140.879896,Education,40.350149,NaN,UPSELL,4.814591,True
3,1,2015-03-31,90.132610,Education,31.098622,NaN,CONT,0.000000,False
4,1,2015-06-30,118.548248,Education,53.907076,NaN,UPSELL,28.415638,False

## Part One

Create a table of yearly revenue, profit and profit margin. Profit margin is profit divided by revenue. Exclude year 2021.

In [6]:
yearly_revenue = yearly.loc[:,['YEAR','REVENUE','PROFIT']].groupby('YEAR').sum()
yearly_revenue['PROFIT_MARGIN']= yearly_revenue['PROFIT']/yearly_revenue['REVENUE']
pd.options.display.float_format = '{:,.2f}'.format
yearly_revenue.reset_index(inplace=True)
yearly_revenue

        YEAR      REVENUE       PROFIT  PROFIT_MARGIN
0 2015-01-01   581,446.00   171,127.34           0.29
1 2016-01-01 1,049,612.87   320,765.97           0.31
2 2017-01-01 1,451,557.62   525,337.27           0.36
3 2018-01-01 2,114,484.91   711,215.80           0.34
4 2019-01-01 2,791,129.12 1,096,964.53           0.39
5 2020-01-01 3,014,942.44 1,041,249.80           0.35
6 2021-01-01 2,767,141.41         0.00           0.00

Create a clustered (grouped) bar chart with revenue and profit by year, excluding year 2021. Hint: Use the color channel to create clusters, just like you would use the color channel to create multiple lines in a line plot.

In [7]:
yearly_revenue.iloc[:-1,:-1].melt(id_vars=['YEAR'], var_name='Column', value_name='Value')

         YEAR   Column        Value
0  2015-01-01  REVENUE   581,446.00
1  2016-01-01  REVENUE 1,049,612.87
2  2017-01-01  REVENUE 1,451,557.62
3  2018-01-01  REVENUE 2,114,484.91
4  2019-01-01  REVENUE 2,791,129.12
5  2020-01-01  REVENUE 3,014,942.44
6  2015-01-01   PROFIT   171,127.34
7  2016-01-01   PROFIT   320,765.97
8  2017-01-01   PROFIT   525,337.27
9  2018-01-01   PROFIT   711,215.80
10 2019-01-01   PROFIT 1,096,964.53
11 2020-01-01   PROFIT 1,041,249.80

In [8]:
alt.Chart(yearly_revenue.iloc[:-1,:-1].melt(id_vars=['YEAR'], var_name='Column', value_name='Value')).mark_bar().encode(
   column='YEAR',
   x=alt.X('Column',title=None),
   y=alt.Y('Value',title="In $"),
   color='Column'
)

alt.Chart(...)

Create a stacked bar chart with revenue by year, where the stacks are the two customer types.

In [9]:
yearly_customer_revenue=  yearly.loc[:,['YEAR','REVENUE','CUSTOMER_TYPE']].groupby(['YEAR','CUSTOMER_TYPE']).sum()
yearly_customer_revenue.dtypes
yearly_customer_revenue.reset_index(inplace=True)
yearly_customer_revenue.melt(id_vars=['YEAR','CUSTOMER_TYPE'], var_name='Column', value_name='Value')

         YEAR CUSTOMER_TYPE   Column        Value
0  2015-01-01     Education  REVENUE   381,953.62
1  2015-01-01          Tech  REVENUE   199,492.38
2  2016-01-01     Education  REVENUE   749,545.36
3  2016-01-01          Tech  REVENUE   300,067.51
4  2017-01-01     Education  REVENUE   905,194.53
5  2017-01-01          Tech  REVENUE   546,363.09
6  2018-01-01     Education  REVENUE 1,430,265.29
7  2018-01-01          Tech  REVENUE   684,219.62
8  2019-01-01     Education  REVENUE 1,865,460.20
9  2019-01-01          Tech  REVENUE   925,668.92
10 2020-01-01     Education  REVENUE 2,009,986.27
11 2020-01-01          Tech  REVENUE 1,004,956.17
12 2021-01-01     Education  REVENUE 1,848,104.86
13 2021-01-01          Tech  REVENUE   919,036.55

In [10]:
alt.Chart(yearly_customer_revenue.melt(id_vars=['YEAR','CUSTOMER_TYPE'], var_name='Column', value_name='Value')).mark_bar(size=20).encode(
    x='YEAR:T',
    y='Value:Q',
    color='CUSTOMER_TYPE:N'
).properties(width=300)

alt.Chart(...)

Create a line plot with quarterly revenue and profit. Make sure that the x-axis is temporal.

In [11]:
quart=quarterly.groupby(['TRANSACTION_PERIOD']).sum()
quart.reset_index(inplace=True)
quart
alt.Chart(quart.loc[:,['TRANSACTION_PERIOD','PROFIT','REVENUE']].melt(id_vars=['TRANSACTION_PERIOD'], var_name='Column', value_name='Value')).mark_line().encode(
 x= 'TRANSACTION_PERIOD:T',
 y= 'Value:Q',
  color='Column'
)

<ipython-input-11-8a36e8ef4d05>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  quart=quarterly.groupby(['TRANSACTION_PERIOD']).sum()

alt.Chart(...)

## Part Two

Create two tables of yearly revenue change, one for each of the customer types. Include both the difference and the percent change.

In [12]:
yearly.head()
#For Education customers
yearly_Education_change= yearly[yearly['CUSTOMER_TYPE']=='Education'].groupby('YEAR').sum()
yearly_Education_change['REVENUE_DIFFERENCE']=yearly_Education_change['REVENUE'].diff()
yearly_Education_change['PERCENTAGE_CHANGE']=yearly_Education_change['REVENUE'].pct_change()
yearly_Education_change

<ipython-input-12-6f85dfeb8c77>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  yearly_Education_change= yearly[yearly['CUSTOMER_TYPE']=='Education'].groupby('YEAR').sum()

,CUSTOMER_ID,REVENUE,PROFIT,REVENUE_DIFF,CHURN,REVENUE_DIFFERENCE,PERCENTAGE_CHANGE
YEAR,,,,,,,
2015-01-01,661822,"381,953.62","112,104.87",0.00,30,NaN,NaN
2016-01-01,1075620,"749,545.36","212,140.46","305,303.69",37,"367,591.73",0.96
2017-01-01,3820530,"905,194.53","347,829.63","-47,856.74",472,"155,649.18",0.21
2018-01-01,15506023,"1,430,265.29","481,119.24","188,030.21",1282,"525,070.76",0.58
2019-01-01,46700537,"1,865,460.20","730,949.34","119,184.30",2780,"435,194.91",0.30
2020-01-01,109399971,"2,009,986.27","694,714.06","-33,837.22",4610,"144,526.07",0.08
2021-01-01,210777949,"1,848,104.86",0.00,"-219,339.02",0,"-161,881.41",-0.08

In [13]:
#For Tech customers
yearly_Tech_change= yearly[yearly['CUSTOMER_TYPE']=='Tech'].groupby('YEAR').sum()
yearly_Tech_change['REVENUE_DIFFERENCE']=yearly_Tech_change['REVENUE'].diff()
yearly_Tech_change['PERCENTAGE_CHANGE']=yearly_Tech_change['REVENUE'].pct_change()
yearly_Tech_change

<ipython-input-13-fa617f692bb7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  yearly_Tech_change= yearly[yearly['CUSTOMER_TYPE']=='Tech'].groupby('YEAR').sum()

,CUSTOMER_ID,REVENUE,PROFIT,REVENUE_DIFF,CHURN,REVENUE_DIFFERENCE,PERCENTAGE_CHANGE
YEAR,,,,,,,
2015-01-01,315242,"199,492.38","59,022.46",0.00,16,NaN,NaN
2016-01-01,507997,"300,067.51","108,625.50","69,300.40",31,"100,575.13",0.50
2017-01-01,1883000,"546,363.09","177,507.64","50,358.57",234,"246,295.58",0.82
2018-01-01,7507889,"684,219.62","230,096.57","-18,755.56",615,"137,856.53",0.25
2019-01-01,23237748,"925,668.92","366,015.19","54,490.81",1326,"241,449.30",0.35
2020-01-01,54028700,"1,004,956.17","346,535.74","-22,447.43",2189,"79,287.25",0.09
2021-01-01,103881449,"919,036.55",0.00,"-139,405.02",0,"-85,919.62",-0.09

For each customer type, calculate the total revenue change from adding new customers for each year. This is the sum of REVENUE for NEW customers for each year. You should end up with a series for each customer type.

In [14]:
#For Education customers
yearly_new= yearly[yearly['CUSTOMER_TYPE']=='Education']
yearly_new_data=yearly_new[yearly_new['STATUS']=='NEW']
yearly_new_data=yearly_new_data.loc[:,['YEAR','REVENUE']]
yearly_new_data=yearly_new_data.groupby('YEAR').sum().reset_index()

In [15]:
#For Tech customers
yearly_T_new= yearly[yearly['CUSTOMER_TYPE']=='Tech']
yearly_new_Tdata=yearly_T_new[yearly_T_new['STATUS']=='NEW']
yearly_new_Tdata=yearly_new_Tdata.loc[:,['YEAR','REVENUE']]
yearly_new_Tdata=yearly_new_Tdata.groupby('YEAR').sum().reset_index()

For each customer type, calculate the total revenue change from existing customers for each year. This is the sum of REVENUE_DIFF for UPSELL and DOWNSELL customers for each year. You should end up with a series for each customer type.

In [16]:
#For Education customers
yearly_new= yearly[yearly['CUSTOMER_TYPE']=='Education']
yearly_existing_data=yearly_new[(yearly_new['STATUS']=='UPSELL')|(yearly_new['STATUS']=='DOWNSELL')]
yearly_existing_data
yearly_existing_data=yearly_existing_data.loc[:,['YEAR','REVENUE_DIFF']]
yearly_existing_data=yearly_existing_data.groupby('YEAR').sum().reset_index()

In [17]:
#For Tech customers
yearly_T_new= yearly[yearly['CUSTOMER_TYPE']=='Tech']
yearly_existing_Tdata=yearly_T_new[(yearly_T_new['STATUS']=='UPSELL')|(yearly_new['STATUS']=='DOWNSELL')]
yearly_existing_Tdata
yearly_existing_Tdata=yearly_existing_Tdata.loc[:,['YEAR','REVENUE_DIFF']]
yearly_existing_Tdata=yearly_existing_Tdata.groupby('YEAR').sum().reset_index()

<ipython-input-17-7ed5f1886a02>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  yearly_existing_Tdata=yearly_T_new[(yearly_T_new['STATUS']=='UPSELL')|(yearly_new['STATUS']=='DOWNSELL')]

Create two stacked bar charts, one for each customer type, that show the revenue change from adding new customers and the revenue change from existing customers.

In [18]:
#For education customers
#yearly_existing_data 
#yearly_new_data
education_merged = pd.concat([yearly_existing_data,yearly_new_data ], ignore_index=False, sort=False, axis=1).iloc[:,[0,1,3]]
education_merged.rename(columns = {'REVENUE':'NEW_CUSTOMER','REVENUE_DIFF':'EXISITNG_CUSTOMERS'}, inplace = True)
alt.Chart(education_merged.melt(id_vars=['YEAR'], var_name='Existing Data Vs New Data', value_name='Revenue Change')).mark_bar(size=10).encode(
    x='YEAR:T',
    y='Revenue Change:Q',
    color='Existing Data Vs New Data:N'
).properties(width=300)

alt.Chart(...)

In [19]:
#For Tech customers
#yearly_existing_Tdata 
#yearly_new_Tdata
Tech_merged = pd.concat([yearly_existing_Tdata,yearly_new_Tdata], ignore_index=False, sort=False, axis=1).iloc[:,[0,1,3]]
Tech_merged.rename(columns = {'REVENUE':'NEW_CUSTOMER','REVENUE_DIFF':'EXISITNG_CUSTOMERS'}, inplace = True)
alt.Chart(Tech_merged.melt(id_vars=['YEAR'], var_name='Existing Data Vs New Data', value_name='Revenue Change')).mark_bar(size=30).encode(
    x='YEAR:T',
    y='Revenue Change:Q',
    color='Existing Data Vs New Data:N'
).properties(width=300)

alt.Chart(...)

Use the information from the past questions to answer this question. 

For each customer type, what percentage of growth (revenue change) has come from the acquisition of new customers and what
percentage has come from the upsell/downsell of existing customers? 

You should end up with a dataframe for each customer type. Each dataframe should have two columns: the percentage from upsell/downsell and the percentage from new customers. The rows should be the years.

In [20]:
#For education customers
education_merged['Total_revenue_change']=education_merged['EXISITNG_CUSTOMERS']+education_merged['NEW_CUSTOMER']
education_merged['%_up/down']=(education_merged['EXISITNG_CUSTOMERS']/education_merged['Total_revenue_change'])*100
education_merged['%new']=(education_merged['NEW_CUSTOMER']/education_merged['Total_revenue_change'])*100
education_merged

,YEAR,EXISITNG_CUSTOMERS,NEW_CUSTOMER,Total_revenue_change,%_up/down,%new
0,2016-01-01,"305,303.69","70,537.68","375,841.36",81.23,18.77
1,2017-01-01,"-47,856.74","215,295.47","167,438.73",-28.58,128.58
2,2018-01-01,"188,030.21","483,843.85","671,874.06",27.99,72.01
3,2019-01-01,"119,184.30","667,638.31","786,822.61",15.15,84.85
4,2020-01-01,"-33,837.22","825,498.35","791,661.13",-4.27,104.27
5,2021-01-01,"-219,339.02","945,380.24","726,041.22",-30.21,130.21

In [21]:
#For Tech customers
Tech_merged['Total_revenue_change']=Tech_merged['EXISITNG_CUSTOMERS']+Tech_merged['NEW_CUSTOMER']
Tech_merged['%_up/down']=(Tech_merged['EXISITNG_CUSTOMERS']/Tech_merged['Total_revenue_change'])*100
Tech_merged['%new']=(Tech_merged['NEW_CUSTOMER']/Tech_merged['Total_revenue_change'])*100
Tech_merged

,YEAR,EXISITNG_CUSTOMERS,NEW_CUSTOMER,Total_revenue_change,%_up/down,%new
0,2016-01-01,"71,920.31","35,539.17","107,459.48",66.93,33.07
1,2017-01-01,"72,933.98","208,310.62","281,244.60",25.93,74.07
2,2018-01-01,"121,841.61","230,114.39","351,956.00",34.62,65.38
3,2019-01-01,"135,769.15","345,573.59","481,342.74",28.21,71.79
4,2020-01-01,"111,390.54","408,896.53","520,287.08",21.41,78.59
5,2021-01-01,"64,939.74","463,975.13","528,914.87",12.28,87.72

For each customer type, calculate the yearly revenue lost from customers churning. This is the sum of REVENUE of customers for which CHURN is true. Put these two series into a dataframe.

In [22]:
yearly
#For education customers
yearly_education=yearly[yearly['CUSTOMER_TYPE']=='Education']
yearly_churn_education=yearly_education[yearly_education['CHURN']==True]
yearly_churn_education=yearly_churn_education.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_churn_education.rename(columns = {'REVENUE':'EDUCATION'}, inplace = True)
#yearly_churn_education.reset_index()
#For Tech customers
yearly_education2=yearly[yearly['CUSTOMER_TYPE']=='Tech']
yearly_churn_Tech=yearly_education2[yearly_education2['CHURN']==True]
yearly_churn_Tech=yearly_churn_Tech.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_churn_Tech.rename(columns = {'REVENUE':'Tech'}, inplace = True)
#yearly_churn_Tech.reset_index()
yearly_lost_revenue=pd.concat([yearly_churn_education,yearly_churn_Tech], ignore_index=False, sort=False, axis=1)
yearly_lost_revenue.reset_index(inplace=True)

Create a single stacked bar chart showing the revenue lost for both customer types over the years.

In [23]:
alt.Chart(yearly_lost_revenue.melt(id_vars=['YEAR'], var_name='customer_type', value_name='Revenue_lost')).mark_bar(size=30).encode(
    x='YEAR:T',
    y='Revenue_lost:Q',
    color='customer_type:N'
).properties(width=300)

alt.Chart(...)

## Part Three

Create a line plot of quarterly revenue change from new customers and existing customers (this line plot should have 2 lines, new and existing).

In [31]:
quarterly
#For New customers
quarterly_new_data=quarterly[quarterly['STATUS']=='NEW']
quarterly_new_data
quarterly_new_data=quarterly_new_data.loc[:,['TRANSACTION_PERIOD','REVENUE']]
quarterly_new_data
quarterly_new_data=quarterly_new_data.groupby('TRANSACTION_PERIOD').sum()
quarterly_new_data.rename(columns={'REVENUE':'New_Revenue'}, inplace=True)
#For existing customers
quarterly_existing_data=quarterly[(quarterly['STATUS']=='DOWNSELL')|(quarterly['STATUS']=='UPSELL')]
quarterly_existing_data
quarterly_existing_data=quarterly_existing_data.loc[:,['TRANSACTION_PERIOD','REVENUE_DIFF']]
quarterly_existing_data=quarterly_existing_data.groupby('TRANSACTION_PERIOD').sum()
quarterly_existing_data.rename(columns={'REVENUE_DIFF':'Existing_Revenue'}, inplace=True)
quarterly_revenue_change=pd.concat([quarterly_new_data,quarterly_existing_data], ignore_index=False, sort=False, axis=1)
quarterly_revenue_change.reset_index(inplace=True)
quarterly_revenue_change

   TRANSACTION_PERIOD  New_Revenue  Existing_Revenue
0          2015-06-30    10,026.53         10,342.53
1          2015-09-30     9,828.68          8,493.57
2          2015-12-31    10,038.74         11,468.86
3          2016-03-31     9,710.17        168,696.79
4          2016-06-30     9,720.87       -144,931.34
5          2016-09-30     9,806.60         10,539.29
6          2016-12-31     9,830.92         15,658.00
7          2017-03-31    21,771.60         13,155.07
8          2017-06-30    33,272.35         12,378.51
9          2017-09-30    45,074.72         16,347.99
10         2017-12-31   152,469.80         19,077.85
11         2018-03-31    68,647.59        -85,552.20
12         2018-06-30    79,393.80         17,624.62
13         2018-09-30    91,034.62         17,381.97
14         2018-12-31   100,711.26         12,189.94
15         2019-03-31   110,303.16        -17,881.56
16         2019-06-30   123,865.30         36,198.84
17         2019-09-30   133,077.96           -973.50
18         2019-12-31   144,045.69         -4,800.52
19         2020-03-31   155,151.09         -9,164.95
20         2020-06-30   165,192.15        -19,912.33
21         2020-09-30   174,840.82        -28,151.13
22         2020-12-31   183,282.69        -33,601.23
23         2021-03-31   193,213.02        -40,654.85
24         2021-06-30   202,488.59        -50,767.14
25         2021-09-30   212,984.68        -56,729.87
26         2021-12-31   222,943.83        -67,601.79

In [32]:
alt.Chart(quarterly_revenue_change.melt(id_vars=['TRANSACTION_PERIOD'], var_name='NEW/EXISTING', value_name='Revenue_Change')).mark_line(size=1).encode(
    x='TRANSACTION_PERIOD:T',
    y='Revenue_Change:Q',
    color='NEW/EXISTING:N'
)

alt.Chart(...)

Create a line plot of quarterly revenue lost from customers churning.

In [26]:
quartely_churn=quarterly[quarterly['CHURN']==True]
quartely_churn=quartely_churn.loc[:,['TRANSACTION_PERIOD','REVENUE']].groupby('TRANSACTION_PERIOD').sum()
quartely_churn.rename(columns = {'REVENUE':'REVENUE_CHANGE'}, inplace = True)
quartely_churn.reset_index(inplace=True)
alt.Chart(quartely_churn).mark_line(size=3,color='red').encode(
    x='TRANSACTION_PERIOD:T',
    y='REVENUE_CHANGE:Q',
)

alt.Chart(...)

Create a line plot of number of customers lost quarterly. Hint use groupby and count.

In [27]:
quartely_churn2=quarterly[quarterly['CHURN']==True]
quartely_churn2=quartely_churn2.loc[:,['TRANSACTION_PERIOD','CHURN']].groupby('TRANSACTION_PERIOD').count()
quartely_churn2.reset_index(inplace=True)
alt.Chart(quartely_churn2).mark_line(size=3,color='red').encode(
    x='TRANSACTION_PERIOD:T',
    y='CHURN:Q',
)

alt.Chart(...)

## Part Four

The IS_TREATMENT_FLAG column indicates whether a customer received a new promotion. The promotion is designed to increase revenue from the customer.

The promotion occurred in year 2021. So, only in year 2021 do customers have True or False in that column, otherwise it is nan. The value is True for those who received the promotion and False for those who did not.

Using the yearly data, determine by what percentage revenue changed from 2020 to 2021 across the two groups of customers (those who received the promotion and those who did not). 

Hint: Pull out the two groups (True and False) from 2021. For each group, use isin to find the corresponding customers in 2020, and then use isin again to pull out just those customers from 2021. Now you have the 2020 and 2021 values for those customers.

In [28]:
#for those with promotions
yearly_promotions= yearly[yearly['IS_TREATMENT_FLAG']==True]
total_promotion_revenue=yearly_promotions.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
total_promotion_revenue.reset_index(inplace=True)
year_2020=yearly[yearly['YEAR']=='2020']
yearly_promotions1=year_2020[year_2020['CUSTOMER_ID'].isin(yearly_promotions['CUSTOMER_ID'])]
yearly_promotions1
yearly_2020_promotions=yearly_promotions1.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_2020_promotions.reset_index(inplace=True)
revenue_change_promotion= (total_promotion_revenue['REVENUE']-yearly_2020_promotions['REVENUE'])/total_promotion_revenue['REVENUE'] *100
print('Revenue change from 2020 to 2021 for those who had promotions: '+ revenue_change_promotion[0].astype(str) +'%')
#for those without promotions
yearly_no_promotions= yearly[yearly['IS_TREATMENT_FLAG']==False]
yearly_no_promotions= yearly_no_promotions[(yearly_no_promotions['YEAR']=='2021')|(yearly_no_promotions['YEAR']=='2020')]
total_no_promotion_revenue=yearly_no_promotions.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
total_no_promotion_revenue.reset_index(inplace=True)
year_no_2020=yearly[yearly['YEAR']=='2020']
yearly_no_promotions1=year_no_2020[year_no_2020['CUSTOMER_ID'].isin(yearly_no_promotions['CUSTOMER_ID'])]
yearly_no_promotions1
yearly_no_2020_promotions=yearly_no_promotions1.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_no_2020_promotions.reset_index(inplace=True)
revenue_change_nopromotion= (total_no_promotion_revenue['REVENUE']-yearly_no_2020_promotions['REVENUE'])/total_no_promotion_revenue['REVENUE'] *100
print('Revenue change from 2020 to 2021 for those who had no promotions: '+ revenue_change_nopromotion[0].astype(str) +'%')

Revenue change from 2020 to 2021 for those who had promotions: 39.25305768801732%
Revenue change from 2020 to 2021 for those who had no promotions: 36.66618616941779%

Do the same analysis but break the data into customer types first. This way we can see if the promotion had different effects for different customer types.

In [29]:
#for those with promotions
#for education customers
yearly_promotions= yearly[(yearly['IS_TREATMENT_FLAG']==True) & (yearly['CUSTOMER_TYPE']=='Education')]
total_promotion_revenue=yearly_promotions.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
total_promotion_revenue.reset_index(inplace=True)
year_2020=yearly[(yearly['YEAR']=='2020') & (yearly['CUSTOMER_TYPE']=='Education')]
yearly_promotions1=year_2020[year_2020['CUSTOMER_ID'].isin(yearly_promotions['CUSTOMER_ID'])]
yearly_promotions1
yearly_2020_promotions=yearly_promotions1.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_2020_promotions.reset_index(inplace=True)
revenue_change_promotion= (total_promotion_revenue['REVENUE']-yearly_2020_promotions['REVENUE'])/total_promotion_revenue['REVENUE'] *100
revenue_change_promotion
print('Revenue change from 2020 to 2021 for those who had promotions and were education customers: '+ revenue_change_promotion[0].astype(str) +'%')
#for Tech customers
yearly_promotions= yearly[(yearly['IS_TREATMENT_FLAG']==True)&(yearly['CUSTOMER_TYPE']=='Tech')]
total_promotion_revenue=yearly_promotions.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
total_promotion_revenue.reset_index(inplace=True)
year_2020=yearly[(yearly['YEAR']=='2020') & (yearly['CUSTOMER_TYPE']=='Tech') ]
yearly_promotions1=year_2020[year_2020['CUSTOMER_ID'].isin(yearly_promotions['CUSTOMER_ID'])]
yearly_promotions1
yearly_2020_promotions=yearly_promotions1.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_2020_promotions.reset_index(inplace=True)
revenue_change_promotion= (total_promotion_revenue['REVENUE']-yearly_2020_promotions['REVENUE'])/total_promotion_revenue['REVENUE'] *100
print('Revenue change from 2020 to 2021 for those who had promotions and were Tech customers: '+ revenue_change_promotion[0].astype(str) +'%')

Revenue change from 2020 to 2021 for those who had promotions and were education customers: 40.84205861242727%
Revenue change from 2020 to 2021 for those who had promotions and were Tech customers: 35.94406498494747%

In [30]:
#for those without promotions
#for education customers
yearly_no_promotions= yearly[(yearly['IS_TREATMENT_FLAG']==False)& (yearly['CUSTOMER_TYPE']=='Education')]
yearly_no_promotions= yearly_no_promotions[(yearly_no_promotions['YEAR']=='2021')|(yearly_no_promotions['YEAR']=='2020')]
total_no_promotion_revenue=yearly_no_promotions.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
total_no_promotion_revenue.reset_index(inplace=True)
year_no_2020=yearly[(yearly['YEAR']=='2020')& (yearly['CUSTOMER_TYPE']=='Education')]
yearly_no_promotions1=year_no_2020[year_no_2020['CUSTOMER_ID'].isin(yearly_no_promotions['CUSTOMER_ID'])]
yearly_no_promotions1
yearly_no_2020_promotions=yearly_no_promotions1.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_no_2020_promotions.reset_index(inplace=True)
revenue_change_nopromotion= (total_no_promotion_revenue['REVENUE']-yearly_no_2020_promotions['REVENUE'])/total_no_promotion_revenue['REVENUE'] *100
print('Revenue change from 2020 to 2021 for those who had no promotions and were education customers: '+ revenue_change_nopromotion[0].astype(str) +'%')
#for tech customers
yearly_no_promotions= yearly[(yearly['IS_TREATMENT_FLAG']==False)& (yearly['CUSTOMER_TYPE']=='Tech')]
yearly_no_promotions= yearly_no_promotions[(yearly_no_promotions['YEAR']=='2021')|(yearly_no_promotions['YEAR']=='2020')]
total_no_promotion_revenue=yearly_no_promotions.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
total_no_promotion_revenue.reset_index(inplace=True)
year_no_2020=yearly[(yearly['YEAR']=='2020')& (yearly['CUSTOMER_TYPE']=='Tech')]
yearly_no_promotions1=year_no_2020[year_no_2020['CUSTOMER_ID'].isin(yearly_no_promotions['CUSTOMER_ID'])]
yearly_no_promotions1
yearly_no_2020_promotions=yearly_no_promotions1.loc[:,['YEAR','REVENUE']].groupby('YEAR').sum()
yearly_no_2020_promotions.reset_index(inplace=True)
revenue_change_nopromotion= (total_no_promotion_revenue['REVENUE']-yearly_no_2020_promotions['REVENUE'])/total_no_promotion_revenue['REVENUE'] *100
print('Revenue change from 2020 to 2021 for those who had no promotions and were Tech customers: '+ revenue_change_nopromotion[0].astype(str) +'%')

Revenue change from 2020 to 2021 for those who had no promotions and were education customers: 37.672763175731795%
Revenue change from 2020 to 2021 for those who had no promotions and were Tech customers: 34.71156347228623%